# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
.env

# Virtual Environment
.venv/
venv/
env/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Project specific
core/management/commands/__pycache__/
transactions/migrations/__pycache__/
reports/__pycache__/
